services:
  crawler:
    build: .
    environment:
      - DBCred=mongodb://mongo:27017
    depends_on:
      - mongo
  mongo:
    image: mongo:8.0.10-noble
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
